[mysqld]
character-set-server=utf8
ft_min_word_len = 2
ft_stopword_file=''
innodb_ft_min_token_size = 2
innodb_ft_enable_stopword = OFF
innodb_ft_server_stopword_table = ''
innodb_ft_user_stopword_table = ''
slow_query_log = ON
long_query_time = 10
slow_query_log_file = var/log/mysql/slow.log
log_error = /var/log/mysql/error.log
